.footer {
  background-color: #d8fdf1;
}

form {
  display: flex;
  flex-direction: column;
}

.submit {
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  margin-left: auto;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
